---
import { getCollection, render } from "astro:content";
import Layout from "../../components/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("photos");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
};
---

<Layout title={post.data.title}>
  <article class="lg:col-span-10 lg:col-start-3 mb-64">
    <header class="mb-8">
      <h1 class="text-6xl font-semibold">{post.data.title}</h1>
      <h3 class="mt-8 text-xl text-white/60">
        {new Date(post.data.date).toLocaleDateString("en-GB", dateOptions)}
      </h3>
    </header>
    <div class="prose text-xl md:text-lg lg:text-xl mb-8 text-pretty">
      <Content />
    </div>
    {
      post.data.photos !== undefined && (
        <div class="md:col-start-2 md:col-span-3 w-full relative grid gap-8 md:gap-16">
          {post.data.photos.map((cloudflareId) => (
            <img
              class="border-4 rounded-xs"
              alt=""
              id={`image-${cloudflareId}`}
              src={`https://imagedelivery.net/tfgleCjJafHVtd2F4ngDnQ/${cloudflareId}/small`}
              srcset={`https://imagedelivery.net/tfgleCjJafHVtd2F4ngDnQ/${cloudflareId}/small 400w, https://imagedelivery.net/tfgleCjJafHVtd2F4ngDnQ/${cloudflareId}/medium 1024w, https://imagedelivery.net/tfgleCjJafHVtd2F4ngDnQ/${cloudflareId}/large 2048w`}
              loading="lazy"
            />
          ))}
        </div>
      )
    }
  </article>
</Layout>
