---
import { getCollection, render } from "astro:content";
import Layout from "../../components/Layout.astro";
import { getImageAspectRatiosArray } from "../../utils/getImageAspectRatios";
import { arrangeImagesInGrid } from "../../utils/gridLayoutArrange";
import clsx from "clsx";
import { dateOptions } from "../../utils/types";

export async function getStaticPaths() {
  const posts = await getCollection("photos");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

// Get aspect ratios for images if they exist
const imageAspectRatios = post.data.photos
  ? await getImageAspectRatiosArray(post.data.photos)
  : [];

// Arrange images in grid layout
const arrangedImages = arrangeImagesInGrid(imageAspectRatios);
---

<Layout title={post.data.title}>
  <article
    class="sm:col-span-2 lg:col-span-10 lg:col-start-3 lg:row-start-2 mb-64"
  >
    <header class="mb-8">
      <h1 class="text-4xl lg:text-6xl font-semibold">{post.data.title}</h1>
      <h3 class="mt-8 text-lg lg:text-xl text-white/70">
      <h2 class="text-lg lg:text-xl text-white/70 mb-8">
        {post.data.description}
      </h2>
        {new Date(post.data.date).toLocaleDateString("en-GB", dateOptions)}
      </h3>
    </header>
    <div class="prose text-lg lg:text-xl mb-8 text-pretty">
      <Content />
    </div>
    {
      post.data.photos !== undefined && (
        <div class="md:col-start-2 md:col-span-3 w-full relative grid grid-cols-6 items-start bg-white p-0.5 sm:p-1 md:p-2 xl:p-4 gap-0.5 sm:gap-1 md:gap-2 xl:gap-4 rounded-xs">
          {arrangedImages.map((imageData) => (
            <img
              class={clsx(
                "self-stretch object-cover rounded-xs w-full h-full",
                {
                  "col-span-6": imageData.colSpan === 6,
                  "col-span-4": imageData.colSpan === 4,
                  "col-span-3": imageData.colSpan === 3,
                  "col-span-2": imageData.colSpan === 2,
                },
              )}
              alt=""
              id={`image-${imageData.cloudflareId}`}
              src={`https://imagedelivery.net/tfgleCjJafHVtd2F4ngDnQ/${imageData.cloudflareId}/small`}
              srcset={`https://imagedelivery.net/tfgleCjJafHVtd2F4ngDnQ/${imageData.cloudflareId}/small 400w, https://imagedelivery.net/tfgleCjJafHVtd2F4ngDnQ/${imageData.cloudflareId}/medium 1024w, https://imagedelivery.net/tfgleCjJafHVtd2F4ngDnQ/${imageData.cloudflareId}/large 2048w`}
              style={`aspect-ratio: ${imageData.aspectRatio}`}
              width={imageData.width}
              height={imageData.height}
              loading="lazy"
            />
          ))}
        </div>
      )
    }
  </article>
</Layout>
