---
import Layout from "../components/Layout.astro";
import NowPlaying from "../components/NowPlaying.astro";
import TopAlbums from "../components/TopAlbums.astro";
import TopArtists from "../components/TopArtists.astro";
import { formatNumber } from "../utils/string";
import { dateOptions } from "../utils/types";

const userResponse = await fetch(
  `http://ws.audioscrobbler.com/2.0/?method=user.getInfo&user=jonheslop&api_key=6908805d396f2a48dcac5ac045452754&format=json`,
);
const { user } = await userResponse.json();
const since = new Date(user.registered.unixtime * 1000).toLocaleDateString(
  "en-GB",
  dateOptions,
);
---

<Layout title="Listening">
  <header class="sm:col-span-2 lg:col-span-4 lg:col-start-3">
    <h1 class="text-4xl lg:text-6xl font-semibold text-balance">Listening</h1>
    <p class="text-lg text-white/70 max-w-xl mt-4 leading-snug text-pretty">
      What I've been listening to recently, all data comes from my <a
        class="underline underline-offset-2 text-white/70 hover:text-white transition-colors duration-200"
        href="https://last.fm/user/jonheslop">last.fm</a
      > profile.
    </p>
  </header>
  <aside class="sm:col-span-2 lg:col-span-6 self-end">
    <h5
      class="text-sm uppercase font-semibold mb-2 text-white/70 lg:text-right"
    >
      <abbr
        class="underline decoration-dotted underline-offset-2"
        title={`Since ${since}`}>All time stats</abbr
      >
    </h5>
    <ul class="flex gap-8 lg:justify-end">
      <li>
        <strong class="block font-bold text-3xl leading-none"
          >{formatNumber(user.artist_count)}</strong
        >
        <span class="text-base">Artists</span>
      </li>
      <li>
        <strong class="block font-bold text-3xl leading-none"
          >{formatNumber(user.album_count)}</strong
        >
        <span class="text-base">Albums</span>
      </li>
      <li>
        <strong class="block font-bold text-3xl leading-none"
          >{formatNumber(user.track_count)}</strong
        >
        <span class="text-base">Tracks</span>
      </li>
      <li>
        <strong class="block font-bold text-3xl leading-none"
          >{formatNumber(user.playcount)}</strong
        >
        <span class="text-base">Plays</span>
      </li>
    </ul>
  </aside>
  <div
    class="sm:col-span-2 lg:col-span-10 lg:col-start-3 grid sm:grid-cols-2 lg:grid-cols-10 gap-x-8"
  >
    <div class="lg:col-span-2">
      <h5 class="text-sm uppercase font-semibold mb-2 text-white/70">
        Last played track
      </h5>
      <NowPlaying server:defer>
        <div slot="fallback">
          <div
            class="aspect-square bg-white/20 border-2 rounded-xs mix-blend-luminosity hover:mix-blend-normal"
          >
          </div>
          <p class="text-sm mt-1">Fetching track...</p>
        </div>
      </NowPlaying>
    </div>
    <div class="lg:col-start-3 lg:col-span-6 my-16 sm:mt-0 lg:my-0">
      <h5
        class="text-sm uppercase font-semibold mb-2 col-span-full text-white/70"
      >
        Top albums this month
      </h5>
      <div class="grid grid-cols-3 gap-x-4 lg:gap-x-8 lg:mt-0">
        <TopAlbums server:defer>
          <div
            slot="fallback"
            class="col-span-3 grid grid-cols-3 gap-x-4 lg:gap-x-8"
          >
            <div class="w-full">
              <div
                class="aspect-square bg-white/20 border-2 rounded-xs mix-blend-luminosity hover:mix-blend-normal"
              >
              </div>
              <p class="text-sm mt-1">Fetching album...</p>
            </div>
            <div class="w-full">
              <div
                class="aspect-square bg-white/20 border-2 rounded-xs mix-blend-luminosity hover:mix-blend-normal"
              >
              </div>
              <p class="text-sm mt-1">Fetching album...</p>
            </div>
            <div class="w-full">
              <div
                class="aspect-square bg-white/20 border-2 rounded-xs mix-blend-luminosity hover:mix-blend-normal"
              >
              </div>
              <p class="text-sm mt-1">Fetching album...</p>
            </div>
          </div>
        </TopAlbums>
      </div>
    </div>
    <div class="my-16 sm:mt-0 lg:my-0 sm:col-span-2">
      <h5
        class="text-sm uppercase font-semibold mb-2 col-span-full text-white/70"
      >
        Top artists this month
      </h5>

      <TopArtists />
    </div>
  </div>
</Layout>
