---
import { type Link } from "../utils/turso";
import { dateOptions } from "../utils/types";
import { prettifyUrl } from "../utils/string";
import MarkdownIt from "markdown-it";
const parser = new MarkdownIt();

interface Props {
  link: Link;
}

const { link } = Astro.props;
---

<li
  class="border-t border-white/20 last:border-b group hover:bg-white/10 transition-colors py-3 only:border-t-none"
>
  <a href={link.url} class="block">
    <header class="flex gap-6">
      <h2
        class="text-lg font-bold leading-snug underline underline-offset-2 text-balance"
      >
        {link.title}
      </h2>
      <a
        href={`/links/${link.id}`}
        class="text-white/70 ml-auto shrink-0 text-lg leading-snug hover:underline underline-offset-2"
      >
        {new Date(link.date).toLocaleDateString("en-GB", dateOptions)}
      </a>
    </header>
    <p class="text-sm leading-snug mt-1">
      <span class="text-white/50 group-hover:text-white transition-colors">
        {prettifyUrl(link.url)}
      </span>
    </p>
    <p class="text-white text-base leading-snug mt-2 max-w-lg text-pretty mb-3">
      {link.comment}
    </p>
  </a>
  <footer class="flex justify-between lg:items-center">
    <div>
      {
        link.tags.split(",").map((tag) => (
          <a
            href={`/links/tagged/${encodeURIComponent(tag.trim())}`}
            class="text-white/70 border px-2 py-0.5 rounded-full text-sm mr-2 mb-2 leading-tight inline-flex items-center hover:bg-white hover:text-fenix-red border-white/70"
          >
            {tag}
          </a>
        ))
      }
    </div>
    {
      link.via && (
        <div class="text-white/70 flex gap-1 prose mb-2 shrink-0">
          <p>via</p> <div set:html={parser.render(link.via)} />
        </div>
      )
    }
  </footer>
</li>
