---
import type { CollectionEntry } from "astro:content";
import { dateOptions, shortDateOptions } from "../utils/types";
import { prettifyUrl } from "../utils/string";
import MarkdownIt from "markdown-it";
const parser = new MarkdownIt();

interface Props {
  link: CollectionEntry<"links">;
}

const { link } = Astro.props;
const { data, id, body } = link;
---

<li
  class="border-white/20 border-b py-6 lg:py-3"
>
    <header class="flex gap-6">
      <h2
        class="text-lg font-bold leading-snug underline underline-offset-2 text-balance"
      >
        <a href={data.url}>
          {data.title}
        </a>
      </h2>
      <a
        href={`/links/${id}`}
        class="text-white/70 ml-auto shrink-0 text-lg leading-snug hover:underline underline-offset-2"
      >
        <span class="hidden sm:block">
          {data.date.toLocaleDateString("en-GB", dateOptions)}
        </span>
        <span class="sm:hidden">
          {data.date.toLocaleDateString("en-GB", shortDateOptions)}
        </span>
      </a>
    </header>
    <p class="text-sm leading-snug mt-1">
      <a href={data.url} class="text-white/50 hover:text-white transition-colors">
        {prettifyUrl(data.url)}
      </a>
    </p>
    {
      body && (
        <div
          class="text-white text-base leading-snug mt-2 max-w-lg text-pretty mb-3 prose"
          set:html={parser.render(body)}
        />
      )
    }
  <footer class="flex justify-between lg:items-center">
    <div>
      {
        data.tags.map((tag) => (
          <a
            href={`/links/tagged/${encodeURIComponent(tag.trim())}`}
            class="text-white/70 border px-2 pt-1 pb-1.5 rounded-full text-sm mr-2 mb-2 leading-none inline-flex items-center hover:bg-white hover:text-fenix-red border-white/70"
          >
            {tag}
          </a>
        ))
      }
    </div>
    {
      data.via && (
        <div class="text-white/70 flex gap-1 prose mb-2 shrink-0">
          <p>via</p> <div set:html={parser.render(data.via)} />
        </div>
      )
    }
  </footer>
</li>
