---
import { getCollection } from "astro:content";

interface Props {
  type: "posts" | "photos";
  recent?: boolean;
}

const { type, recent = false } = Astro.props;

const posts = (await getCollection(type))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(recent ? 1 : 0, recent ? 10 : undefined);

const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
};
---

<ul class="grid md:grid-cols-2 gap-8">
  {
    posts.map((post) => (
      <li class="text-lg">
        <a
          class="relative py-2 group hover:bg-white/10 transition-colors"
          href={`/${type}/${post.id}`}
        >
          {!recent && post.data.coverImage && (
            <img
              src={`https://imagedelivery.net/tfgleCjJafHVtd2F4ngDnQ/${post.data.coverImage}/medium`}
              alt={post.data.title}
              class="border-4 rounded-xs mix-blend-luminosity group-hover:mix-blend-normal"
            />
          )}
          <div class="absolute inset-1 bg-gradient-to-b via-30% to-neutral-900/30 z-0 from-transparent" />
          <div class="absolute left-8 bottom-8">
            <h2 class="text-2xl md:text-4xl text-white font-semibold group-hover:underline text-balance">
              {post.data.title}
            </h2>
            <h4 class="text-xl text-white/70 ml-auto">
              {new Date(post.data.date).toLocaleDateString(
                "en-GB",
                dateOptions,
              )}
            </h4>
          </div>
        </a>
      </li>
    ))
  }
</ul>
{
  recent && (
    <a href={`/${type}`} class="block text-white/70 hover mt-2">
      See all {type} &raquo;
    </a>
  )
}
