---
import { getCollection } from "astro:content";

interface Props {
  type: "posts" | "photos";
  recent?: boolean;
}

const { type, recent = false } = Astro.props;

const posts = (await getCollection(type))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, recent ? 10 : undefined);

const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
};
---

<ul>
  {
    posts.map((post) => (
      <li class="text-lg border-b border-b-white/20">
        <a
          class="flex justify-start items-center gap-x-4 py-2 group hover:bg-white/10 transition-colors"
          href={`/${type}/${post.id}`}
        >
          {!recent && post.data.coverImage && (
            <img
              src={`https://imagedelivery.net/tfgleCjJafHVtd2F4ngDnQ/${post.data.coverImage}/small`}
              alt={post.data.title}
              class="h-16 md:h-32 border-2 rounded-xs mix-blend-luminosity group-hover:mix-blend-normal"
            />
          )}
          <span class="group-hover:underline flex-1 text-pretty">
            {post.data.title}
          </span>
          <span class="text-white/70 ml-auto">
            {new Date(post.data.date).toLocaleDateString("en-GB", dateOptions)}
          </span>
        </a>
      </li>
    ))
  }
</ul>
{
  recent && (
    <a href={`/${type}`} class="block text-white/70 hover mt-2">
      See all {type} &raquo;
    </a>
  )
}
