---
import { getCollection, render } from "astro:content";
import clsx from "clsx";
import Layout from "../../components/Layout.astro";
import {
  dateMonthOptions,
  dateOptions,
  parseDateFromId,
  sortStreamByDate,
} from "../../utils/types";

export async function getStaticPaths() {
  const stream = sortStreamByDate(await getCollection("stream"));
  return stream.map((post, i) => ({
    params: { slug: post.id },
    props: {
      post,
      newer: stream[i - 1] ?? null,
      older: stream[i + 1] ?? null,
    },
  }));
}

const { post, newer, older } = Astro.props;
const { Content } = await render(post);

const photo = post.data.photo ?? null;
const aspectRatio = photo ? photo.width / photo.height : null;
---

<Layout
  title={`Stream - ${parseDateFromId(post.id).toLocaleDateString("en-GB", dateOptions)}`}
>
  <article class="grid grid-cols-subgrid lg:col-span-10 gap-8">
    <div
      class={clsx({
        "lg:order-2 lg:col-span-4": !aspectRatio || aspectRatio < 1,
        "lg:col-span-10 lg:col-start-2": aspectRatio && aspectRatio > 1,
      })}
    >
      <header>
        <h1 class="text-4xl font-semibold text-balance">
          {parseDateFromId(post.id).toLocaleDateString("en-GB", dateOptions)}
        </h1>
        {post.data.camera && <h5 class="text-white/70">{post.data.camera}</h5>}
      </header>
      <div class="prose text-lg lg:text-xl text-pretty mt-8">
        <Content />
      </div>
    </div>
    {
      photo && (
        <figure
          class={clsx({
            "lg:order-1 lg:col-start-2 lg:col-span-5": aspectRatio && aspectRatio < 1,
            "lg:col-span-10 col-start-2": aspectRatio && aspectRatio > 1,
          })}
        >
          <a
            href={`https://imagedelivery.net/tfgleCjJafHVtd2F4ngDnQ/${photo.id}/large`}
          >
            <img
              alt=""
              class="border-4 rounded-xs"
              src={`https://imagedelivery.net/tfgleCjJafHVtd2F4ngDnQ/${photo.id}/large`}
            />
          </a>
        </figure>
      )
    }
  </article>
  <nav class="flex gap-2 col-span-2 leading-tight mt-1">
    {
      newer && (
        <a
          class="text-white/70 hover:text-white transition-colors duration-200"
          href={`/stream/${newer.id}`}
          rel="next"
        >
          &larr;{" "}
          {parseDateFromId(newer.id).toLocaleDateString("en-GB", dateMonthOptions)}
        </a>
      )
    }

    {newer && older && <span class="text-white/70">|</span>}

    {
      older && (
        <a
          class=" text-white/70 hover:text-white transition-colors duration-200"
          href={`/stream/${older.id}`}
          rel="prev"
        >
          {parseDateFromId(older.id).toLocaleDateString("en-GB", dateMonthOptions)}
          {" "}&rarr;
        </a>
      )
    }
  </nav>
</Layout>
